@model FableFortuneCardList.Models.DeckViewModels.EditDeckViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<div class="col-md-10">
    <div class="panel">
        <div class="panel-body">            
            <form asp-action="Edit">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <h4>Deck</h4>
                            <hr />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ID" />
                            <div class="form-group">
                                <label asp-for="Name" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <textarea asp-for="Description" class="form-control" maxlength="190"></textarea>
                                    <span asp-validation-for="Description" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Type" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(x => x.Type, (IEnumerable<SelectListItem>)ViewBag.DeckTypeList, null, new { @class = "form-control", onchange = "SetArenaType(this)", id = "ddDeckType" })
                                    <span asp-validation-for="Type" class="text-danger" />
                                </div>
                            </div>
                            <div id="deckArenaCoopDiv" class="form-group hidden">
                                <label asp-for="ArenaCoop" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(x => x.ArenaCoop, (IEnumerable<SelectListItem>)ViewBag.DeckArenaCoop, null, new { @class = "form-control", onload = "SetCoopArenaOnLoad()" })
                                    <span asp-validation-for="ArenaCoop" class="text-danger" />
                                </div>
                            </div>
                            <div id="deckArenaPVPDiv" class="form-group hidden">
                                <label asp-for="ArenaPVP" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(x => x.ArenaPVP, (IEnumerable<SelectListItem>)ViewBag.DeckArenaPVP, null, new { @class = "form-control", onload = "SetPVPArenaOnLoad()" })
                                    <span asp-validation-for="ArenaPVP" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Class" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(x => x.Class, (IEnumerable<SelectListItem>)ViewBag.ClassList, null, new { @class = "form-control" })
                                    <span asp-validation-for="Class" class="text-danger" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gold-summary col-md-6">
                        <div id="DeckSummary">
                            @{Html.RenderPartial("DeckGoldSummary", Model.Deck);} 
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Strategy" class="col-md-1 control-label"></label>
                    <div class="col-md-12">
                        <textarea asp-for="Strategy" class="wide-input form-control"></textarea>
                        <span asp-validation-for="Strategy" class="text-danger" />
                    </div>
                </div>
                <br/>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Save" class="top-margin btn btn-default" />
                    </div>
                </div>
            </form>
            <div class="col-md-12">
                    <hr />
                    <div id="AvailableCardsTable">
                        @{Html.RenderPartial("DeckAvailableCards", Model);}
                    </div>
                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>

            </div>

    </div>
</div>
<div class="col-md-2">
    <div id="DeckCardSummary">
        @{Html.RenderPartial("DeckCardSummary", Model.Deck);} 
    </div>     
</div>
<div class="clearfix"></div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function disableAllButtons(){
            $(".addCardBtn").each(function (index, button) {
                $(button).prop("disabled", true).button();
            });
        }

        function disableAllTrophyButtons(){
            $(".addCardBtn.Trophy").each(function (index, button) {
                $(button).prop("disabled", true).button();
            });
        }

        function reloadDeckGoldSummary(){
            $.ajax({
                url: "/Deck/GoldSummary/@Model.ID",
                success: function(html){
                    $("#DeckSummary").html(html);
                }
            });
        }

        function bindAddButtons(){

            var addCardButtons = $(".addCardBtn");

            $.each(addCardButtons, function(index, addCardButton){
                bindAddButton($(addCardButton));
            });

            $(".addCardBtn").button();
        }

        function bindSummaryTooltips(){
            $(document).tooltip({
                items: ".deckCard",
                track: true,
                tooltipClass: "cardTemplateTooltip",
                content: function () {
                    var element = $(this).find(".cardTemplateTooltip");

                    return element.html();
                }
            });
        }

        function bindTableTooltips(){
            $("#AvailableCards").tooltip({
                items: "#AvailableCards tbody tr td a",
                track: true,
                tooltipClass: "cardTemplateTooltip",
                content: function () {
                    var element = $(this).parent().parent().find(".cardTemplateTooltip");

                    return element.html();
                }
            });
        }

        function loadAvailableCards(){
            $.ajax({
                url: "/Deck/AvailableCards/@Model.ID",
                success: function(html){
                    $("#AvailableCardsTable").html(html);
                    bindAddButtons();
                    bindAvailableCardsTable();


                }
            });
        }

        function bindAvailableCardsTable(){

            var table = $("#AvailableCards").DataTable({
                "colReorder": true,
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "iDisplayLength": 10,
                "stateSave": true
            });

            $("#AvailableCardsTable").ploading({action:'hide'});
        }

        function bindAddButton(addCardButtonObject){
            addCardButtonObject.click(function (event) {
                var addButton = $(this);
                var deckId = @Model.ID;
                var cardId = addButton.parent().find("input[name='cardId']").val();

                var data = { "deckId" : deckId, "cardId" : cardId };

                $("#AvailableCardsTable").ploading({action:'show'});

                $.ajax({
                    type: "POST",
                    url: "/Deck/AddCard",
                    data: data,
                    success: function (html) {
                        $("#DeckCardSummary").html(html);
                        bindSummaryTooltips();
                        bindRemoveButtons();
                        reloadDeckGoldSummary();                        
                        loadAvailableCards();                         
                    }
                });

                event.preventDefault();
            });
        }

        function bindRemoveButtons(){
            $(".removeCardBtn").click(function (event) {
                var removeButton = $(this);
                var deckCardId = removeButton.parent().find("input[name='deckCardId']").val();

                $("#AvailableCardsTable").ploading({action:'show'});
                var data = {'deckCardId':deckCardId}
                $.ajax({
                    type: "POST",
                    url: "/Deck/RemoveCard",
                    data: data,
                    success: function (html) {
                        $("#DeckCardSummary").html(html);
                        bindSummaryTooltips();
                        bindRemoveButtons();                        
                        loadAvailableCards();
                    }
                });

                event.preventDefault();
            });
        }

        function SetArenaType(sel) {
            if (sel.options[sel.value - 1].text == 'Coop') {
                $('#deckArenaPVPDiv').addClass('hidden')
                if ($('#deckArenaCoopDiv').hasClass('hidden')) {
                    $('#deckArenaCoopDiv').removeClass('hidden')
                }
            } else if (sel.options[sel.value - 1].text == 'PVP') {
                $('#deckArenaCoopDiv').addClass('hidden')
                if ($('#deckArenaPVPDiv').hasClass('hidden')) {
                    $('#deckArenaPVPDiv').removeClass('hidden')
                }
            }
        }

        $(document).ready(function () {
            bindAddButtons();
            bindRemoveButtons();
            bindAvailableCardsTable();
            bindTableTooltips();
            bindSummaryTooltips();
            var filterLinks = $(".filterList a");
            var filteredData = filterLinks.click(function () {
                var filterValue = $(this).html();
                if (filterValue == "Clear")
                    table.search("").draw();
                else {
                    var currentSearch = table.search();
                    if (!currentSearch.includes(filterValue))
                        table.search(currentSearch + " " + filterValue).draw();
                }
            });

            sel = document.getElementById("ddDeckType");
            if (sel.options[sel.selectedIndex].text == 'Coop') {
                $('#deckArenaCoopDiv').removeClass('hidden')
            } else if (sel.options[sel.selectedIndex].text == 'PVP') {
                $('#deckArenaPVPDiv').removeClass('hidden')                
            }
        });
    </script>
}
